.col-md-6{
  background-color: #eef4f7;
}

.card-body{
  background-color: #eef4f7;
  border: none;
}

.card{
  background-color: #01abea;
  border: none;
}

.vision-mission{
  background-color: #eef4f7;
}
.card-body.i{
  margin-left: 10px;
}